---
name: CI

'on':
  merge_group:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize, ready_for_review, reopened]
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Dry run'
        default: false
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}

      - name: Run Prettier
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        env:
          PRETTIER_VERSION: 3.7.3 # renovate: datasource=npm depName=prettier
        with:
          prettier_options: --check .
          prettier_version: ${{ env.PRETTIER_VERSION }}

  release:
    env:
      DRY_RUN: ${{ github.event_name == 'pull_request' || github.event.inputs.dry_run && 'true' || 'false' }}
      FORCE_COLOR: true
    name: Release
    needs: [lint]
    outputs:
      published: ${{ env.DRY_RUN != 'true' && steps.semantic-release.outputs.new-release-published }}
    runs-on: ubuntu-latest
    steps:
      - id: get-workflow-access-token
        name: Get Workflow Access Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          token: ${{ steps.get-workflow-access-token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.node-version'

      - name: Get Release Options
        env:
          IS_DEFAULT_BRANCH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        run: |
          if [[ $DRY_RUN != 'true' || $IS_DEFAULT_BRANCH == 'true' ]]; then
            echo "DRY_RUN=false" >> $GITHUB_ENV
          fi

      - name: Semantic Release
        id: semantic-release
        env:
          CI_FLAG: ${{ env.DRY_RUN == 'true' && 'false' || 'true' }}
          GIT_AUTHOR_EMAIL: '118100583+bfra-me[bot]@users.noreply.github.com'
          GIT_AUTHOR_NAME: 'bfra-me[bot]'
          GIT_COMMITTER_EMAIL: '118100583+bfra-me[bot]@users.noreply.github.com'
          GIT_COMMITTER_NAME: 'bfra-me[bot]'
          GITHUB_TOKEN: ${{ steps.get-workflow-access-token.outputs.token }}
        run: |
          # Run `semantic-release`
          npm install conventional-changelog-conventionalcommits@9.1.0
          npm install semantic-release-export-data@1.2.0
          npx semantic-release@25.0.2 --dry-run ${{ env.DRY_RUN }} --ci ${{ env.CI_FLAG }}
        shell: 'bash -Eeuxo pipefail {0}'

      - name: Push Release Branch To Major Branch
        if: ${{ env.DRY_RUN != 'true' && steps.semantic-release.outputs.new-release-published == 'true' }}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ steps.get-workflow-access-token.outputs.token }}
        run: |
          # Update the major branch reference to the new release tag
          version=${{ steps.semantic-release.outputs.new-release-version }}
          sha=$(gh api repos/{owner}/{repo}/git/ref/tags/${version} | jq -r .object.sha)
          branch_name=v$(echo ${version} | cut -d . -f 1)
          ref=refs/heads/${branch_name}
          if [[ "$(gh api repos/{owner}/{repo}/git/ref/heads/${branch_name} 2>&1)" =~ "Not Found" ]]; then
            gh api -X POST repos/{owner}/{repo}/git/refs -f ref=${ref} -f sha=$sha
          else
            gh api -X PATCH repos/{owner}/{repo}/git/${ref} -f sha=$sha -F force=true
          fi
        shell: 'bash -Eeuxo pipefail {0}'

  trigger-org-renovate:
    if: github.repository == 'bfra-me/renovate-config' && needs.release.outputs.published == 'true'
    name: Trigger Renovate
    needs: release
    secrets: inherit
    uses: bfra-me/.github/.github/workflows/trigger-org-renovate.yaml@59f2871f4bff0b8ef71355809133701f04687bdf # v4.3.6
